@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-roboto: 'Roboto', sans-serif;
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  font-family: var(--font-roboto);
  overflow-x: hidden;
  color: var(--dark-slate-grey);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

li {
  display: flex;
  align-items: start;
  gap: 1rem
}

label {
  font-size: 12px;
  font-weight: 700;
}

input {
  width: 100%;
  height: 2.7rem;
  outline: none;
  padding: 1.5rem 1rem;
  color: var(--charcoal-grey);

  border-style: solid;
  border-color: hsl(231, 7%, 80%);
  border-width: 2px;
  border-radius: 8px;
}

input:focus {
  border-color: var(--charcoal-grey);
}

input:has(input[data-valid='false'])::after {
  content: 'Valid email required';
  position: absolute;
  top: 0;
  right: 0;
  color: var(--tomato);
  font-size: 12px;
  font-weight: bold;
}

input[data-valid='false'] {
  color: var(--tomato);
  background-color: #ff625726;
}

input::placeholder {
  color: var(--grey);
  opacity: 0.5;
}

input:is(:hover, :focus) {
  outline: none;
  border-color: var(--dark-slate-grey);
}

input[data-valid='false']:is(:hover, :focus) {
  border-color: var(--tomato);
}

button {
  width: 100%;
  height: 3.5rem;
  background-color: var(--dark-slate-grey);
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  background-color: var(--tomato);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--tomato);
  transition: 0.2s ease-in-out;
}


.img-container {
  display: flex;
  justify-content: center;
}

.description {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.form-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.validation-message {
  font-size: 12px;
  font-weight: 700;
  color: var(--tomato);
}

.media-illustration {
  width: 100%;
}

.confirmation {
  width: 100vw;
}

.confirmation .email {
  font-weight: 700;
}

@media only screen and (max-width: 760px) {
  body {
    background-color: #ffffff;
  }

  .sign-up {
    display: flex;
    flex-direction: column;
    color: #213547;
    background-color: #ffffff;
  }

  .desktop-illustration {
    display: none;
  }

  .confirmation {
    width: 100%;
    height: 100vh;
    padding: 5rem 2rem;
  }

  .confirmation h1,
  .confirmation p {
    margin-top: 2rem;
  }

  .confirmation button {
    margin-top: 20rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: var(--charcoal-grey);
  }

  .app {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .sign-up {
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .mobile-illustration {
    display: none;
  }

  .desktop-illustration {
    height: 500px;
  }

  .content-container {
    width: 50%;
    height: 100%;
  }

  .confirmation {
    padding: 3rem;
    width: 30rem;
    gap: 2rem;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .confirmation h1,
  .confirmation p,
  .confirmation button {
    margin-top: 2rem;
  }
}